body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  background-color: rgb(63, 63, 63);
  color: rgb(142, 140, 140);
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer-content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  width: 70%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(142, 140, 140);
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}

.footer-content-grid p {
  font-size: 20px;
}
.footer-content-grid h1 {
  color: rgb(186, 184, 184);
}
.footer-content-grid h3 {
  color: white;
}

.footer p {
  font-size: 16px;
  color: rgb(221, 221, 221);
}

.navidoc-logo {
  margin-top: 20px;
}

.navidoc-product-grid {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.order-demo {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
  padding-bottom: 20px;
}

.order-demo button {
  margin-top: 0;
}

.demo-button {
  padding: 15px 30px;
  background-color: rgb(173, 64, 64);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
}

.demo-button:hover {
  background-color: #9ac45bff;
  cursor: pointer;
}
.download-brochure {
  padding-top: 0;
}

.download-brochure-button {
  display: flex;
  align-items: center;
  color: rgb(186, 173, 173);
  background-color: rgb(63, 63, 63);
  border: none;
  font-size: 16px;
  padding-left: 0;
}

.download-brochure-button img {
  block-size: 30px;
  margin-right: 5px;
}

.download-brochure-button:hover {
  cursor: pointer;
}
.footer-social-grid {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-block-start: 20px;
  justify-content: center;
}
.social {
  inline-size: 70%;
}
.navidoc {
  inline-size: 30%;
  text-align: center;
}

.social img {
  width: 50px;
  margin-right: 20px;
  filter: invert(0.3);
}

@media screen and (max-width: 950px) {
  .footer-content-grid {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .footer-content-grid {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}
